.dimmed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  z-index: 9999;

  .icon-close {
    position: absolute;
    top: 20px;
    right: 20px;
    fill: #fff;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 2;
  }
}